NEXT_PUBLIC_BASE_URL="http://localhost:3000"
NEXT_PUBLIC_BASE_PATH=""

NEXT_PUBLIC_SUPABASE_URL=your-project-url
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_... or anon key

ACONTEXT_API_BEARER_TOKEN=your-root-api-bearer-token
ACONTEXT_PROJECT_BEARER_TOKEN_PREFIX=sk-ac-

NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=xxx
